<IfModule mod_rewrite.c>
  RewriteEngine On

  # Exclude the _next directory from rewrite rules
  RewriteCond %{REQUEST_URI} !^/_next

  # Rule to redirect directories to their index.html file
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^(.\*)/$ $1/index.html [L]

  # Rule to serve .html file for extensionless URLs
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.\*)$ $1.html [L,QSA]
</IfModule>