# This tells Apache to use index.html as the default file for a directory.
DirectoryIndex index.html

# This part helps with routing for single-page applications like Next.js.
# It makes sure that if you refresh a page like /about-us, it still works.
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>